<div><%= @vocab.name %></div>
<p><%= @vocab.translation %></p>
<p><%= simple_format h @vocab.sentence %></p>
<p class="caption"><%= l @vocab.created_at, format: :long %></p>

<% if current_user && current_user.id == @vocab.user_id %>
    <%= link_to "編集", edit_vocab_path(@vocab), class: 'btn btn-outline-info' %>
    <%= link_to "削除", vocab_path(@vocab), method: :delete , class: 'btn btn-outline-danger' %>
<% end %>


<div id="Comments">コメント一覧</div>

<% @comments.each do |comment| %>
    <p><%= comment.content %></p>
    <% if user_signed_in? && comment.user_id == current_user.id %>
        <p><%= link_to "削除", user_vocab_comment_path(@vocab.user, @vocab, comment), method: :delete %></p>
    <% end %>
<% end %>


<div>コメントする</div>

<%= form_with(model: [@vocab.user, @vocab, @comment], method: :post, local: true) do |f| %>
    <%= f.text_area :content %>
    <%= f.submit '投稿する'%>
<% end %>

<button class="btn btn-secondary" onClick="history.back();">戻る</button>