<div><%= @vocab.name %></div>
<p><%= @vocab.translation %></p>
<p><%= simple_format h @vocab.sentence %></p>
<p class="caption"><%= l @vocab.created_at, format: :long %></p>

<% if current_user && current_user.id == @vocab.user_id %>
    <%= link_to "編集", edit_vocab_path(@vocab), class: 'btn btn-outline-info' %>
    <%= link_to "削除", vocab_path(@vocab), method: :delete , class: 'btn btn-outline-danger' %>
<% end %>


<div id="Comments">コメント一覧</div>

<div class="vocab__comments__item-list" id="vocab_<%= @vocab.id %>_comments_list">
<% @comments.each do |comment| %>
    <%= render 'comments/comments_item', {comment: comment} %>
<% end%>
</div>


<div>コメントする</div>

<% if user_signed_in? %>
<div class="vocab__comments__input">
    <%= form_with(model: [@vocab.user, @vocab, @comment], method: :post, remote: true) do |f| %>
        <%= f.text_area :content, id: "comment_textarea", placeholder: @vocab.user.name + 'さんの投稿にコメント' %>
        <%= f.submit "投稿" %>
    <% end %>
</div>
<% end %>


<button class="btn btn-secondary" onClick="history.back();">戻る</button>