<div class="vocab__item-list">
    <% @vocabs.each do |vocab| %>
        <div class="vocab__item" data-vocab-id="<%= vocab.id %>">
            <p class="vocab__time caption float-right"><%= time_ago_in_words(vocab.created_at) %>前</p>
            <h2 class="vocab__word"><%= link_to vocab.name, user_vocab_path(vocab.user, vocab) %></h2>
            <h3 class="vocab__translation"><%= vocab.translation %></h3>
            <div class="vocab__sentence"><%= simple_format h vocab.sentence %></div>
            <a href="/<%= vocab.user.username %>" data-vocab-username="<%= vocab.user.name %>" class="vocab__thumb">
                <% if vocab.user.avatar.present? %>
                    <%= image_tag vocab.user.avatar, alt: vocab.user.name %>
                <% else %>
                    <%= image_tag "user-image-default.png", alt: vocab.user.name %>
                <% end %>
                <span class="vocab__username">@<%= vocab.user.username %></span>
            </a>

            <div class="vocab__btn-list">
                    <div class="vocab__btn vocab__btn--comment" title="コメントを見る"><i class="far fa-comments"></i><span class="vocab_<%= vocab.id %>_comments_count" id="vocab_<%= vocab.id %>_comments_count"><%= vocab.comments.count %></span></div>
                <%#= link_to root_path, class: 'vocab__btn vocab__btn--comment', title: 'コメントする' do %>
                    <%# <i class="far fa-comments"></i> %>
                <%# end %>
                <div class="vocab__learnings" id="vocab_learning_<%= vocab.id %>">
                    <%= render 'vocabs/learning', vocab: vocab %>
                </div>
            </div>

            <div class="vocab__comments">
                <% @comments = vocab.comments.order("created_at DESC")  %>


                <% # ajaxで書き換え %>
                <div class="vocab__comments__item-list" id="vocab_<%= vocab.id %>_comments_list">
                <% if @comments.exists? %>
                    <% @comments.limit(3).each do |comment| %>
                        <%= render 'comments/comments_item', {comment: comment} %>
                    <% end%>
                <% end %>
                </div>


                <% if @comments.count > 3 %>
                <div class="vocab__comments__link">
                    <%= link_to user_vocab_path(vocab.user, vocab, anchor: 'Comments') do %>
                    すべてのコメントを見る（全<span class="vocab_<%= vocab.id %>_comments_count"><%= @comments.count %></span>件）
                    <% end %>
                </div>
                <% end %>

                <% if user_signed_in? %>
                <div class="vocab__comments__input">
                    <%= form_with(model: [vocab.user, vocab, @comment], method: :post, remote: true) do |f| %>
                        <%= f.text_area :content, id: "vocab_#{vocab.id}_comments_textarea", placeholder: vocab.user.name + 'さんの投稿にコメント' %>
                        <%= f.submit "投稿" %>
                    <% end %>
                </div>
                <% end %>

            </div>
        </div>
    <% end %>
</div>
    
<script>
    $('.vocab__btn').tooltip();
</script>

<style>
.ui-tooltip {
    font-size: .6rem;
    background: #777;
    color: #fff;
    padding: 5px 8px;
    box-shadow: none;
}
</style>